<h2 id='title'>Firecracker Score Predictor</h2>

MCAT: {{input type='text' value=mcat}}<br>
AGE: {{input type='text' value=age}}<br>
GENDER: {{view Ember.Select content=genders value=selectedGender }}<br>

<br>

MCAT: {{mcat}}<br>
AGE: {{age}}<br>
GENDER: {{selectedGender}}<br>

<br>

Predicted Score: {{predictedScore}}

